* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container{
    display: grid;
    padding: 15px;
    margin: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    height: 100vh;
    background-image:linear-gradient(90deg, #ff7b4f, #F5D965);
    color: #333;
    padding-top: 30px;
    transition: 0.3s;
    box-shadow: 2px 0 10px rgba(244, 244, 244, 0.3);
    
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.5em;
    color: #f8b400;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 15px 25px;
    font-size: 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar ul li i {
    margin-right: 12px;
    font-size: 20px;
}

.sidebar ul li:hover {
    background-color: #ffffff;
}

.content {
    margin-left: 220px;
    padding: 40px;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.content h1 {
    color: #333;
    margin-bottom: 15px;
}

.content p {
    font-size: 18px;
    color: #333;
}


@media (max-width: 576px) {
    .form-container {
        padding: 20px;
    }
    
    .he1 {
        padding: 20px;
    }
}

a {
  text-decoration: none;
  color: inherit;
}

.image {
    border: 2px dashed #ddd;
    border-radius: 8px;
    padding: 50px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 25px;
}

.image-destaque {
    border: 2px dashed #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 96px;
    height: 96px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 25px;
}

.destaques {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.adicionar{
    margin-right: 12px;
    font-size: 20px;
}

.adicionar button {
    width: 96px;
    height: 96px;
    border: 2px dashed #ddd;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.adicionar button i {
    font-size: 32px;
    color: #333;
}

.adicionar button:hover {
    background-color: #ffe8dc;
    border-color: #ff7b4f;
}
